<%= form_for(@movie) do |f| %>
  <ul>
  <% @movie.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <p>
    <%= f.submit %>
  </p>
<% end %>